[Service]
User=root
ExecStart=node /root/telegram_support_bot/telegram_support_bot.js
Restart=always

[Install]
WantedBy=default.target
RequiredBy=another.service
DefaultInstance=my-template@.service